h1 {
  display: flex;
  justify-content: center;
  margin-top : 15px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.image_styles{
  display: flex;
  justify-content: center;
  width: 450px;
  height: 450px;
}

.Link {
  display: flex;
  justify-content: center;
  position: relative;
}

.spinner {
  display: flex;
  position: relative;
  justify-content: center;
}