.wrapper {
  background-color: dimgrey;
  min-height: 100vh;
  color: aliceblue;
}

.text-center {
  text-align:center
}

.btn {
  font-size: 18px;
  margin-left:auto;
  margin-right:auto;
}

.text {
  font-size: 20px;
}

label {
  margin-right: 15px;
}
.carousel {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-height: 600px;
  /*max-width: 600px;*/
}

.description {
  color: darksalmon;
  font-size: 22px;
}

.Link {
  font-size: 24px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.spinner {
  min-height: 600px ;
  display: flex;
  justify-content:center;
  align-items:center;
}
